header, nav, main, footer { display:block}

* { box-sizing: border-box; }

#wrapper{
    background-color: #1A120B;
    padding: 0 10%;
    color: #1A120B;
}

header {    
    text-align: center;
    overflow: hidden;
    background-color: #3C2A21;
}

h1{
    border: none;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    color: #D5CEA3;
}

a{
    text-decoration: none;
}

a:visited{
    color: #D5CEA3;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav ul li{
    float: left;
    width: 50%;
    background-color: #3C2A21;
}

nav ul li a{
    font-size: 21px;
    padding: 10px 0;
    display: block;
    border: 1px solid #1A120B;
}

nav ul li a:hover{
    background-color: #D5CEA3;
    color: #1A120B;
}

nav ul li a:visited{
    background-color: #3C2A21;
    color: #D5CEA3;
}

.body{
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
    font-size: 21px;
    background-color: #D5CEA3;
}

.bodyHome{
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
    font-size: 21px;
    background-color: #D5CEA3;
    height:100vh;
}

.main {
    margin-top: 20vh;
    font-size: 3em;
}
.bodyHome .main li{
    list-style-type: none;
    text-align: center;

}

.bodyHome .main li a{
    color: #1A120B;
}

.bodyHome .main li a:hover{
    color: #E5E5CB;
}

.ref{
    list-style-type: none;
    font-size: 1.4em;
}

.ref li a{
    color: #1A120B;
}

.ref li a:hover{
    color: #E5E5CB;
}

h2{
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.bigger{
    font-size: 1.4em;
}







